<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
	<h1>Route2cloud web UI</h1>

	<div id=list></div>
	<script>
	fetch('./api')
  .then(function(response) {
		console.log("response " + response.status)
		document.getElementById('list').innerHTML = "RRR!";
		return response.json();
	})
  .then(function(myJson) {
	  console.log(JSON.stringify(myJson));
		document.getElementById('list').innerHTML = myJson.Val1 + " AND " + myJson.Val2;
	});


	document.getElementById('list').innerHTML = "HEPxP!";
	</script>

</body>
</html>
